/* Google Web Fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,300,300i,400,600,600i,700&display=swap');
@import 'imports/mixins';
@import 'imports/style';
// @import 'imports/dropdown';

/***** CUSTOM CSS **********/
.list-group-item.router-link-active {
  color: #fff !important;
  background-color: #37a9ff !important;
  border-color: #37a9ff !important;
}
.slim {
  min-height: 20rem !important;
}
.slim .slim-area .slim-status {
  padding: 6em 1.5em !important;
}
.post-overlay {
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  color: #333;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  opacity: 0;
}

.post-overlay:hover {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.h-48 {
  height: 12rem;
}

.bg-cover {
  height: 12rem;
  background-size: cover;
  background-position: center;
}

* {
  font-family: Raleway, sans-serif;
}
body {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #636b6f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Raleway, sans-serif;
}

.card-m-5 {
  margin-top: 5px;
}

ul.dropdown-menu {
  // background:red;
  color: black;
  li {
    // padding: 3px 20px;
    a {
      color: black;
      padding-right: 90px;
      padding-left: 20px;
    }
  }
  li.active {
    background-color: #3097d1;
  }

  li:hover {
    background-color: #3097d1;
  }
}

.svg-inline--fa{
  font-size: inherit;
  height: 1em;
}

.svg-inline--fa path{
 fill: #92959e;
}

.counts-item {
  display: flex;
  align-items: center;
}

.counts-item {
  display: inline;
  display: flex;
  align-items: center;
  svg {
    margin-right: 5px;
  }
  strong{
    margin-right: 4px;
  }
}


.wrapper {
  margin-top: 5px;
}

.thread-title-row{
  margin-bottom: 5px;;
}

.thread-tools-row{
  margin-top: 10px;
}

// .container {
//   padding-left:0;
//   padding-right:0;
// }

a.thread-title strong i {
  font-family: 'Merriweather', serif !important;
}


.thread-title{
  font-size: 30px;
  line-height: 48px;
  font-weight: 700;
  font-family: 'Merriweather', serif !important;
}


.image_description i {
  margin-left:2px;
  margin-right:2px;
}

.image_description {
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  a {
    display: contents !important;
  }
}

small {
  font-size: small;
}

mark.text__highlight {
  background-color: yellow !important;
}



blockquote, q {
  display: block !important;
  margin-block-start: 1em !important;
  margin-block-end: 1em !important;
  margin-inline-start: 40px !important;
  margin-inline-end: 40px !important;
  // &::before {
  //   content: open-quote !important;
  // }
  // &::after {
  //   content: close-quote !important;
  // }
  // quotes: "“" "”" "‘" "’" !important;

}
